<main class="container" style="background-color: white">
    <main class="custom-container">  
      <style>
                     
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }
      
      .custom-container {
          max-width: 1000px;
          margin: 0 auto;
          padding: 20px;
      }
      
      .content {
          justify-content: center;
          align-items: center;
          text-align: center;
      }
      
      .btn-primary {
          margin-bottom: 20px;
          margin-top: 20px;
          background: rgb(2, 0, 36);
          background: linear-gradient(
              90deg,
              rgba(2, 0, 36, 1) 0%,
              rgba(9, 9, 121, 1) 0%,
              rgba(5, 100, 181, 1) 45%,
              rgba(7, 50, 148, 1) 80%,
              rgba(0, 212, 255, 1) 100%
          );
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          font-family: 'Times New Roman', Times, serif;
      }
      .btn-secondary1{
        margin-bottom: 20px;
        margin-top: 20px;
        background: #666;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
      }

      .btn-secondary2{
        margin-bottom: 20px;
        margin-top: 20px;
        background: #666;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;

      }
    
      
      p {
          font-family: 'Times New Roman', Times, serif;
          color: black;
          font-size: large;
          line-height: 1.6;
          margin-bottom: 15px;
      }
      
      h2 {
          font-family: 'Times New Roman', Times, serif;
          text-align: center;
          color: #333;
          margin-bottom: 20px;
      }
      
      a {
          font-family: 'Times New Roman', Times, serif;
          color: black;
          text-decoration: none;
      }
      
      a:hover {
          text-decoration: underline;
      }
      
      .link {
          margin-top: 10px;
          padding: 10px 20px;
          font-family: 'Times New Roman', Times, serif;
          
      }
      
      .link a {
          display: block;
          margin-bottom: 10px;
      }
      
      .footer {
          text-align: center;
          font-size: 14px;
          color: #666;
          margin-top: 30px;
      }      
      </style>
    <nav class="content">
    <h2><span lang="en-ca">Group Members</span></h2>
   <p>Gian Paulo Desiderio(301296686) </p>
    
     <p>Rachael Ayagi </p>

      <p>Mao Tabuchi </p>

        <p>Nabin Dotel   </p>

          <p>Sona Sheena Biju </p>

            <p>Aryan Badial </p>
     
<<<<<<< HEAD
      <aside>
          <figure style="text-align: center;">
            <img src="Assets/images/cartking.jpg" width="400" height="400" alt="gianphoto" style="display: block; margin: 0 auto;">
            <a href="Assets/images/resume.pdf" class="btn btn-primary" >Download Proposal Here(PDF)</a>
            <br>                     
              <a href="https://comp229-group3-project.onrender.com" class="btn btn-secondary1" >Render Link</a>                     
            <br>
              <a href="https://github.com/leostar120/comp231-003-Team-1-W24" class="btn btn-secondary2" >Github Link</a>
        
          
=======

     <a href="Assets/images/Projectproposal.docx" class="btn btn-primary">Download Team 1 Proposal Here!(PDF)</a>           
      <aside>
          <figure style="text-align: center;">
            <img src="Assets/images/cartking.jpg" width="600" height="400" alt="gianphoto" style="display: block; margin: 0 auto;">          
            <br>Render link:  <a href="https://comp231-003-team-1-w24-cartking.onrender.com">CARTKING Link</a>
            <br>Github link: <a href="https://github.com/leostar120/comp231-003-Team-1-W24.git">GITHUB Link</a>
>>>>>>> e7ee42de04cf4f495b3783ec4859d47fd9a4224d

          </figure>
       
      </aside>
      </nav>   
            <footer style="text-align: center;">
              Copyright &copy; 2024
            </footer>

</body>
</html>