<main class="container" style="background-color: white">
    <main class="custom-container">  
      <style>
                     
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }
      
      .custom-container {
          max-width: 1000px;
          margin: 0 auto;
          padding: 20px;
      }
      
      .content {
          justify-content: center;
          align-items: center;
          text-align: center;
      }
      
      .btn-primary {
          margin-bottom: 20px;
          margin-top: 20px;
          background: rgb(2, 0, 36);
          background: linear-gradient(
              90deg,
              rgba(2, 0, 36, 1) 0%,
              rgba(9, 9, 121, 1) 0%,
              rgba(5, 100, 181, 1) 45%,
              rgba(7, 50, 148, 1) 80%,
              rgba(0, 212, 255, 1) 100%
          );
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          font-family: 'Times New Roman', Times, serif;
      }
      .btn-secondary1{
        margin-bottom: 20px;
        margin-top: 20px;
        background: #666;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
      }

      .btn-secondary2{
        margin-bottom: 20px;
        margin-top: 20px;
        background: #666;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;

      }
    
      
      p {
          font-family: 'Times New Roman', Times, serif;
          color: black;
          font-size: large;
          line-height: 1.6;
          margin-bottom: 15px;
      }
      
      h2 {
          font-family: 'Times New Roman', Times, serif;
          text-align: center;
          color: #333;
          margin-bottom: 20px;
      }
      
      a {
          font-family: 'Times New Roman', Times, serif;
          color: black;
          text-decoration: none;
      }
      
      a:hover {
          text-decoration: underline;
      }
      
      .link {
          margin-top: 10px;
          padding: 10px 20px;
          font-family: 'Times New Roman', Times, serif;
          
      }
      
      .link a {
          display: block;
          margin-bottom: 10px;
      }
      
      .footer {
          text-align: center;
          font-size: 14px;
          color: #666;
          margin-top: 30px;
      }      
      </style>
    <nav class="content">
      <img src="Assets/images/cartking.jpg" width="400" height="400" alt="gianphoto" style="display: block; margin: 0 auto;">

    <h2><span lang="en-ca">Our Vision</span></h2>
    <p>Introducing Cart King, an innovative grocery app that transforms how you shop and cook. Unlike conventional services, Cart King offers users a unique platform that simplifies ingredient procurement and enhances culinary skills through innovative features. The application provides a diverse range of recipes, each accompanied by a direct shopping link for seamless and convenient ingredient purchases.
      Powered by AI, it personalizes recommendations, creates convenient shopping lists, and offers engaging video tutorials to enhance your cooking skills. With its innovative features and user-friendly interface, Cart King redefines the way people approach cooking and grocery shopping, making it an indispensable tool for food enthusiasts.
      Beyond its functionality, Cart King fosters community by encouraging users to share and discover delightful recipes. This collaborative aspect adds a social dimension to the application, creating a vibrant platform for culinary enthusiasts</p>


   <p> Meet our Team of experts:
    <ul>
      <li>Gian Paulo Desiderio (Senior Software Developer) </li>
      <li>Rachael Ajayi (Business Architect)</li>
      <li>Mao Tabuchi (Senior Software Developer)</li>
      <li>Nabin Dotel (Senior Software Developer)</li>
      <li>Sona Sheena Biju</li>
      <li>Aryan Badial</li>
    </ul>
   </p>
      <aside>
          <figure style="text-align: center;">
           
            <a href="Assets/images/Projectproposal.docx" class="btn btn-primary" >Download Proposal Here(PDF)</a>
            <br>                     
              <a href="https://comp229-group3-project.onrender.com" class="btn btn-secondary1" >Render Link</a>                     
            <br>
              <a href="https://github.com/leostar120/comp231-003-Team-1-W24" class="btn btn-secondary2" >GitHub Link</a>
        
          

          </figure>
       
      </aside>
      </nav>   
            <footer style="text-align: center;">
              Copyright &copy; 2024
            </footer>

</body>
</html>