<link href="Styles.css" rel="stylesheet" type="text/css">
<div class="home"></div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }
    
    .custom-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .project-section {
        display: flex;
        
        justify-content: center;
        margin-top: 200px;
    }

    .project {
        text-align: center;
        margin: 20px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    
    .project img {
        width: 100%;
        max-height: 200px;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    
    .project h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .project a {
        color: #63afff;
        text-decoration: none;
        font-size: 18px;
    }
    
    .project a:hover {
        text-decoration: underline;
    }
    
    p{
        text-align: center;
        color: black;
        margin-top: 200px;
    }
    
    @media (max-width: 768px) {
        .project {
            width: calc(50% - 40px);
        }
    }
    </style>
</div>
<section class="project-section">
    <div class="project">
        <img src="Assets/images/food1.jpeg" alt="Food Recipes!">
        <h3>Food Recipes</h3>
        <a href="https://damndelicious.net/">View it here!!</a>
    </div>
    <div class="project">
        <img src="Assets/images/food2.jpg" alt="Salads!">
        <h3>Salads</h3>
        <a href="https://www.delish.com/cooking/recipe-ideas/g2877/summer-salads/?utm_source=google&utm_medium=cpc&utm_campaign=arb_ga_del_md_pmx_hybd_mix_ca_18639947754&gad_source=1&gclid=CjwKCAjwnv-vBhBdEiwABCYQA-Qw2ZS1Nxdi8l9pqpQBLbOFbba0qKRr_kesJQ8TPlj7EsOve7TTPBoCXk0QAvD_BwE">View it here!!</a>
    </div>
    <div class="project">
        <img src="Assets/images/food3.jpg" alt="Appetizers!">
        <h3>Appetizers</h3>
        <a href="https://www.townandcountrymag.com/leisure/dining/g42828168/best-party-appetizers/?utm_source=google&utm_medium=cpc&utm_campaign=arb_ga_toc_d_bm_prog_org_usx_g42828168&gad_source=1&gclid=CjwKCAjwnv-vBhBdEiwABCYQAxJt8tuSeCE_Ls1ny5l2239exm1o7ymGhXBbw3AQ9PSmUgl0bMJt0xoCt5gQAvD_BwE">View it here!!</a>
    </div>
    <div class="project">
        <img src="Assets/images/food4.jpg" alt="Desserts!">
        <h3>Desserts</h3>
        <a href="https://bakegood.ca/recipes/desserts/?campaignid=20497979644&adgroupid=156387472281&keyword=&device=c&gad_source=1&gclid=CjwKCAjwnv-vBhBdEiwABCYQA46Ntpyevc0rIJz8fGjr_-Jo8gQDqZE1Cn9SYhRhpiNGGp3VkkqXHRoCo84QAvD_BwE">View it here!!</a>
    </div>
</section>
<p><a href="http://localhost:3500/">Back to Home</a></p>
